<!DOCTYPE html>
{% extends "denkmalgeschutztelofts/base.html" %}
{% load static %}

{% block title %}Denkmal-AfA | Denkmal Kapitalanlagen {% endblock %}

{% block body %}
    <div class="bckgrnd-creme sticky-nav-margin sticky-nav-margin-tablet">
        
        <div class="bnner-txt-gold">Denkmal-AfA
        </div>
    </div>
    <br>
    <div class="phone-call">
        <a href="tel:080016803398">
            <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Jetzt Anrufen" title="Jetzt Anrufen">
        </a>
    </div>
    <div class="container-x">
        <br><br><br>
        <h1 class="content-titles">DENKMAL. Sieben Buchstaben erhalten Kultur und Kapital
        </h1>
        <br>
        
        <p class="testimonial-title" style="font-size: 24px;">
            „Die Plakette besteht aus emailliertem Stahlblech in Schildform mit einer Höhe von 134 mm und einer Breite von 113 mm. Sie trägt im oberen Feld in schwarzer Schrift auf weißem Grund das Wort <span style="color: #c9a877;">„Denkmal“</span> und im unteren Feld das farbige NRW-Wappenzeichen.“ 
            <br>
            
        
            <br>
        </p>
        

        
        <p class="content-title-text">
            So beschrieb das nordrhein-westfälische Ministerium für Stadtentwicklung, Wohnen und Verkehr in einem Runderlass die Beschaffenheit der Denkmalplakette des Landes Nordrhein-Westfalen. <br>
Auch wenn Denkmalschutz- und pflege Ländersache ist und sich die Denkmalplaketten in ihrem äußeren Erscheinungsbild je nach Bundesland unterscheiden, vereint sie ihre bundesweite Ausnahmestellung für Kapitalanleger und Privatkäufer im Hinblick auf staatlich geförderte Steuervergünstigungen. <br>
Ist die Denkmalplakette an der Immobilie angebracht, steht die Immobilie unter Denkmalschutz des jeweiligen Bundeslandes und es öffnen sich die Türen zu profitablen Steuervorteilen in Rahmen der sogenannten Denkmal-AfA (Absetzung für Abnutzung).<br>
        </p>
        

        <h1 class="content-titles">Denkmal-AfA  - Steuervergünstigungen im Dienste der Geschichte</h1>
        <br>
        
        <p class="content-title-text">
            Attraktive Möglichkeiten der steuerlichen Abschreibung sind ein seltenes Gut in der Bundesrepublik Deutschland. Umso wichtiger ist die Bedeutung der AfA für unter Denkmalschutz stehende Gebäude.<br>
Denkmal Kapitalanlagen rechnen sich besonders für steuerlich hoch belastete Investoren, da sie steuerliche Vorteile einstreichen können, statt jährlich hohe Beträge an das Finanzamt zu zahlen.
Kaufpreis abzüglich des Grundstückspreises, Erwerbsnebenkosten und Sanierungskosten können demnach steuerlich geltend gemacht werden. Die Abschreibungsraten für Sanierungs- und Renovierungskosten bei Denkmal-Kapitalanlagen sind im Bereich der Wohnimmobilien die höchsten, vergleicht man sie mit den Abschreibungsraten für Neubau- oder Bestandsimmobilien.<br>
Der Gesetzgeber unterscheidet hierbei, ob das Baudenkmal zur Eigennutzung dienen oder vermietet werden soll:
        </p>
        

        <h1 class="content-titles">Denkmal-AfA bei Vermietung:</h1>
        <br>
        
        <p class="content-title-text">
            
            Wird der Wohnraum der Denkmal-Kapitalanlage zur Vermietung freigegeben, so besteht für Kapitalanleger die Möglichkeit, 100 % der Instandhaltungs- bzw. Sanierungskosten von ihrer Einkommenssteuer abzuschreiben. Der zeitliche Rahmen ist auf 12 Jahre begrenzt und sieht vor, dass in den ersten acht Jahren nach der Denkmal-AfA jährlich 9% der Sanierungskosten geltend gemacht werden können und in den anschließenden restlichen vier Jahren noch jährlich 7%.<br><br>
(8 Jahre x 9 %) + ( 4 Jahre x 7 % ) = 100 % Abschreibung 
            <br>
        </p>
        

        <h1 class="content-titles">Denkmal-AfA bei Selbstnutzung:
        </h1>
        <br>
        
        <p class="content-title-text">
            Wird das Baudenkmal vom Immobilienkäufer selbst benutzt, so hat er die Möglichkeit binnen 10 Jahren immerhin 90 % der erforderlichen Sanierungs- und Instandhaltungskosten steuerlich geltend zu machen.

        </p>

        <p class="content-title-text">
            9 % x 10 Jahre = 90 % Abschreibung 
        </p>
        <br><br>


        

       

        
        
        <p class="content-title-text">
            Bevor Investoren oder Privatkäufer jedoch von den steuerlichen Vergünstigungen der AfA für unter Denkmalschutz stehende Bauwerke profitieren können, bedarf es einer vorzeitigen und gründlichen Absprache mit den verantwortlichen Denkmalbehörden. Auflagen, steuerrechtliche Anforderungen und exakte Durchführungsbestimmungen sind die Aufgaben, mit denen sich jeder im Rahmen der Denkmal-AfA befassen muss.<br>
            Die Erhaltung der Bauwerke einerseits und den notwendigen langen Atem während der Behördengänge andererseits belohnt der Gesetzgeber jedoch mit dieser einzigartigen Regelung.<br>
            Am Ende profitieren Denkmal, Staat und Investor von diesem Gesetz, wenn der Staat die Modernisierung der von ihm als Denkmal qualifizierten Gebäude steuerlich fördert.     <br>  
         </p><br><br><br>
        

        

        
       



        
    </div>
    
    
    
    

{% endblock %}