<!DOCTYPE html>
{% extends "denkmalgeschutztelofts/base.html" %}
{% load static %}

{% block title %}Denkmal Kapitalanlagen | Covid-19{% endblock %}

{% block body %}
    
    <div class="bckgrnd-black sticky-nav-margin sticky-nav-margin-tablet" style="text-align:left;background-image:url('{% static "denkmalgeschutztelofts/images/coronahand.png" %}');background-size: cover;background-repeat: no-repeat;height: 330px;">
        <div class="blog-banner" style=" border-radius: 3px;margin-top: -40px">COVID-19  Maßnahmen für Ihre Gesundheit
        </div>
    </div>
    <br>
    <div class="phone-call">
        <a href="tel:080016803398">
            <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Jetzt Anrufen" title="Jetzt Anrufen">
        </a>
    </div>
    <!-- <div class="container-x" style="height: 550px;"> 
        <div class="container exklusivitat3" data-aos="fade-up">
            <div class="row response-row6 equalizer-row">
              <div class="domino4">
                <h3 data-aos="fade-up" style="font-size: 34px;">Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:


        
                </h3>
                <hr class="hr-line4" data-aos="fade-up"/>
                
                
                
              </div>
              <div class="domino3" data-aos="fade-right">
                <img src='{% static "denkmalgeschutztelofts/images/corona1.png" %}' class="img-fluid info-img3 responsenone">
              </div>
            </div>
        </div> -->

        <div class="parallax background-creme height-setting2">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class=" domino-title-center color_2" data-aos="fade-up" >Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an: </h2>
                    </div>
                </div>
            </div>
        </div>

        
<!-- 
        Aktuelle COVID-19 Online Maßnahmen für Ihre Gesundheit

Wie ermöglichen wir Immobilienbesichtigungen während der COVID-19-Epidemie ?  
Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an: 

Virtuelle 360°- Tour durch das Denkmal
Klicken Sie sich von Zuhause aus durch die gesamte Denkmal-Immobilie. Dank aktueller 360°-Aufnahmen erhalten Sie Einblick in das Innere des Gebäudes und verschaffen sich Ihren ersten Eindruck. 

Jetzt 360°-Besichtigung starten.

Online Besichtigungstermin
Nun können Sie mit uns einen Online-Besichtigungstermin vereinbaren, damit wir Sie per live-Videokonferenz durch das Gebäude führen können. Räumlichkeiten, die Ihr Interesse geweckt haben, können Sie somit zuhause bequem besichtigen
Online-Besichtigung vereinbaren


Online Beratung
Für alle weiteren Fragen und Anregungen steht Ihnen unsere Online-Beratung zur Verfügung.
Kontaktieren Sie uns -->


    </div>

    <div class="container-fluid pad-zero dsnone2">
        <iframe width="100%" height="310px" frameborder="0" src="https://momento360.com/e/u/99e5898e9f324c57baaeda6e14245f3c?utm_campaign=embed&utm_source=other&heading=-288.51&pitch=-8.56&field-of-view=78.07&size=medium"></iframe>
    </div>


    <div class="container exklusivitat3 " data-aos="fade-up" style="height: 450px;">
        <div class="row response-row6 equalizer-row">
          <div class="domino4">
            <h3 data-aos="fade-up">Virtuelle 360°- Tour durch das Denkmal


    
            </h3>
            <hr class="hr-line17" data-aos="fade-up"/>
            
            <p data-aos="fade-up" data-aos-delay="200">
                Klicken Sie sich von Zuhause aus durch die gesamte Denkmal-Immobilie. Dank aktueller 360°-Aufnahmen erhalten Sie Einblick in das Innere des Gebäudes und verschaffen sich Ihren ersten Eindruck.

    
    
            </p>
            <div class="container-contact100-form-btn project-button2" data-aos="fade-up" data-aos-delay="600">
                <button class="contact100-form-btn" type="submit" onclick="window.location.href = '/Covid-19';">
                    Jetzt 360°-Besichtigung starten
                </button>
             </div>
          </div>
          <!-- <div class="domino3" data-aos="fade-right">
            <img src='{% static "denkmalgeschutztelofts/images/corona1.png" %}' class="img-fluid info-img3 responsenone">
          </div> -->
          <div class="domino3" data-aos="fade-right" style="margin-top: 40px;" >
              <iframe width="100%" height="310px" style="padding-left: 40px;" frameborder="0" src="https://momento360.com/e/u/99e5898e9f324c57baaeda6e14245f3c?utm_campaign=embed&utm_source=other&heading=-288.51&pitch=-8.56&field-of-view=78.07&size=medium"></iframe>
          </div>
        </div>
    </div>
    <div class="container-fluid dsnone2 pad-zero">
        <img src='{% static "denkmalgeschutztelofts/images/woman-online.png" %}' class="img-fluid slider-image">
    </div>
    <div class="container exklusivitat3 " data-aos="fade-up" style="height: 450px;">
        <div class="row response-row6 equalizer-row">
            <div class="domino3" data-aos="fade-right">
                <img src='{% static "denkmalgeschutztelofts/images/woman-online.png" %}' class="img-fluid info-img4 responsenone">
              </div>
          <div class="domino4 left-padder">
            <h3 data-aos="fade-up">Online Besichtigungstermin




    
            </h3>
            <hr class="hr-line18" data-aos="fade-up"/>
            
            <p data-aos="fade-up" data-aos-delay="200">
                Nun können Sie mit uns einen Online-Besichtigungstermin vereinbaren, damit wir Sie per live-Videokonferenz durch das Gebäude führen können. Räumlichkeiten, die Ihr Interesse geweckt haben, können Sie somit zuhause bequem besichtigen


    
    
            </p>
            <div class="container-contact100-form-btn project-button2" data-aos="fade-up" data-aos-delay="600">
                <button class="contact100-form-btn" type="submit" onclick="window.location.href = '/schedule';">
                    Online-Besichtigung vereinbaren
                </button>
             </div>
          </div>
          
        </div>
    </div>
    <div class="container-fluid dsnone2 pad-zero">
        <img <img src='{% static "denkmalgeschutztelofts/images/mask-family.png" %}' class="img-fluid slider-image">
    </div>
    <div class="container exklusivitat17">
        <div class="row response-row6 equalizer-row">
          <div class="domino4">
            <h3 data-aos="fade-up">Online Beratung



    
            </h3>
            <hr class="hr-line19" data-aos="fade-up"/>
            
            <p data-aos="fade-up" data-aos-delay="200">
                Für alle weiteren Fragen und Anregungen steht Ihnen unsere Online-Beratung zur Verfügung.

    
    
            </p>
            <div class="container-contact100-form-btn project-button2" data-aos="fade-up" data-aos-delay="600">
                <button class="contact100-form-btn" type="submit" onclick="window.location.href = '/schedule';">
                    Kontaktieren Sie uns
                </button>
             </div>
          </div>
          <div class="domino3" data-aos="fade-right" style="margin-top: -40px;">
            <img src='{% static "denkmalgeschutztelofts/images/mask-family.png" %}' class="img-fluid info-img3 responsenone">
          </div>
        </div>
    </div>
    
    
    
    

{% endblock %}