
    
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <a class="accordion-link" data-toggle="collapse" href="#collapse1">
            What is our goal?
            <i class="fas fa-plus"></i>
        </a>
        <div class="answer collapse" id="collapse1"  data-parent="#accordionExample">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis at urna ut luctus. Curabitur dictum luctus lacus nec scelerisque. Praesent pellentesque enim sapien. Cras placerat tempus lectus, non porttitor elit rutrum in. Sed id pharetra mauris. Fusce pellentesque urna sed efficitur blandit. Fusce molestie mi eros, a aliquam sapien semper ac. Aenean lobortis orci ex, quis ultricies diam scelerisque sed. Vestibulum egestas massa in scelerisque semper. Nam porttitor consequat lacinia. Sed sit amet est elementum, ultrices dui in, mollis felis. Nullam porta sem in interdum hendrerit. Ut porttitor luctus vulputate.</p>
        </div>
    </div>
    <div class="accordion-item">
        <a class="accordion-link" data-toggle="collapse" href="#collapse2">
            How are you doing?
            <i class="fas fa-plus"></i>
        </a>
        <div class="answer collapse" id="collapse2" data-parent="#accordionExample">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis at urna ut luctus. Curabitur dictum luctus lacus nec scelerisque. Praesent pellentesque enim sapien. Cras placerat tempus lectus, non porttitor elit rutrum in. Sed id pharetra mauris. Fusce pellentesque urna sed efficitur blandit. Fusce molestie mi eros, a aliquam sapien semper ac. Aenean lobortis orci ex, quis ultricies diam scelerisque sed. Vestibulum egestas massa in scelerisque semper. Nam porttitor consequat lacinia. Sed sit amet est elementum, ultrices dui in, mollis felis. Nullam porta sem in interdum hendrerit. Ut porttitor luctus vulputate.</p>
        </div>
    </div>
    <div class="accordion-item">
        <a class="accordion-link" data-toggle="collapse" href="#collapse3">
            How are you doing?
            <i class="fas fa-plus"></i>
        </a>
        <div class="answer collapse" id="collapse3" data-parent="#accordionExample">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis at urna ut luctus. Curabitur dictum luctus lacus nec scelerisque. Praesent pellentesque enim sapien. Cras placerat tempus lectus, non porttitor elit rutrum in. Sed id pharetra mauris. Fusce pellentesque urna sed efficitur blandit. Fusce molestie mi eros, a aliquam sapien semper ac. Aenean lobortis orci ex, quis ultricies diam scelerisque sed. Vestibulum egestas massa in scelerisque semper. Nam porttitor consequat lacinia. Sed sit amet est elementum, ultrices dui in, mollis felis. Nullam porta sem in interdum hendrerit. Ut porttitor luctus vulputate.</p>
        </div>
    </div>
    <div class="accordion-item">
        <a class="accordion-link" data-toggle="collapse" href="#collapse4">
            How are you doing?
            <i class="fas fa-plus"></i>
        </a>
        <div class="answer collapse" id="collapse4" data-parent="#accordionExample">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis at urna ut luctus. Curabitur dictum luctus lacus nec scelerisque. Praesent pellentesque enim sapien. Cras placerat tempus lectus, non porttitor elit rutrum in. Sed id pharetra mauris. Fusce pellentesque urna sed efficitur blandit. Fusce molestie mi eros, a aliquam sapien semper ac. Aenean lobortis orci ex, quis ultricies diam scelerisque sed. Vestibulum egestas massa in scelerisque semper. Nam porttitor consequat lacinia. Sed sit amet est elementum, ultrices dui in, mollis felis. Nullam porta sem in interdum hendrerit. Ut porttitor luctus vulputate.</p>
        </div>
    </div>
    <div class="accordion-item">
        <a class="accordion-link" data-toggle="collapse" href="#collapse5">
            How are you doing?
            <i class="fas fa-plus"></i>
        </a>
        <div class="answer collapse" id="collapse5" data-parent="#accordionExample">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis at urna ut luctus. Curabitur dictum luctus lacus nec scelerisque. Praesent pellentesque enim sapien. Cras placerat tempus lectus, non porttitor elit rutrum in. Sed id pharetra mauris. Fusce pellentesque urna sed efficitur blandit. Fusce molestie mi eros, a aliquam sapien semper ac. Aenean lobortis orci ex, quis ultricies diam scelerisque sed. Vestibulum egestas massa in scelerisque semper. Nam porttitor consequat lacinia. Sed sit amet est elementum, ultrices dui in, mollis felis. Nullam porta sem in interdum hendrerit. Ut porttitor luctus vulputate.</p>
        </div>
    </div>
    <div class="accordion-item">
        <a class="accordion-link" data-toggle="collapse" href="#collapse6">
            How are you doing?
            <i class="fas fa-plus"></i>
        </a>
        <div class="answer collapse" id="collapse6" data-parent="#accordionExample">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis at urna ut luctus. Curabitur dictum luctus lacus nec scelerisque. Praesent pellentesque enim sapien. Cras placerat tempus lectus, non porttitor elit rutrum in. Sed id pharetra mauris. Fusce pellentesque urna sed efficitur blandit. Fusce molestie mi eros, a aliquam sapien semper ac. Aenean lobortis orci ex, quis ultricies diam scelerisque sed. Vestibulum egestas massa in scelerisque semper. Nam porttitor consequat lacinia. Sed sit amet est elementum, ultrices dui in, mollis felis. Nullam porta sem in interdum hendrerit. Ut porttitor luctus vulputate.</p>
        </div>
    </div>
    <div class="accordion-item">
        <a class="accordion-link" data-toggle="collapse" href="#collapse7">
            How are you doing?
            <i class="fas fa-plus"></i>
        </a>
        <div class="answer collapse" id="collapse7" data-parent="#accordionExample">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis at urna ut luctus. Curabitur dictum luctus lacus nec scelerisque. Praesent pellentesque enim sapien. Cras placerat tempus lectus, non porttitor elit rutrum in. Sed id pharetra mauris. Fusce pellentesque urna sed efficitur blandit. Fusce molestie mi eros, a aliquam sapien semper ac. Aenean lobortis orci ex, quis ultricies diam scelerisque sed. Vestibulum egestas massa in scelerisque semper. Nam porttitor consequat lacinia. Sed sit amet est elementum, ultrices dui in, mollis felis. Nullam porta sem in interdum hendrerit. Ut porttitor luctus vulputate.</p>
        </div>
    </div>

</div>