<!DOCTYPE html>
{% extends "denkmalgeschutztelofts/base.html" %}
{% load static %}

{% block title %}Denkmal Kapitalanlagen{% endblock %}

{% block body %}
    <div class="bckgrnd-creme sticky-nav-margin sticky-nav-margin-tablet">
        
        <div class="bnner-txt-gold">IMPRESSUM
        </div>
    </div>
    <br>
    <div class="phone-call">
        <a href="tel:080016803398">
            <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Jetzt Anrufen" title="Jetzt Anrufen">
        </a>
    </div>
    <div class="container-x">
        <br><br><br><br>
        <h1 class="content-titles">Angaben gemäß § 5 TMG</h1>
        <br>
        
        <p class="content-title-text">
            REG Rheinische Eigengrund GmbH
            <br> 


            
            Neue Weyerstr. 2
            <br>
            50676 Köln
            <br>
        </p>
        

        <h1 class="content-titles">Vertreten durch</h1>
        <br>
        
        <p class="content-title-text">
            REG Rheinische Eigengrund GmbH, vertreten durch die Geschäftsführer: Gero Boetzel und Timo Herbrand
        </p>
        

        <h1 class="content-titles">Kontakt</h1>
        <br>
        
        <p class="content-title-text">
            Telefon: 0800 168 03398
            <br>
            E-Mail: info@denkmalkapitalanlagen.de
        </p>
        

        <h1 class="content-titles">Registereintrag</h1>
        <br>
        
        <p class="content-title-text">
            
            Eintragung im Handelsregister.
            <br>
            Registergericht: Amtsgericht Köln
            <br>
            Registernummer: HR B 54985
        </p>
        

        <h1 class="content-titles">Umsatzsteuer</h1>
        <br>
        
        <p class="content-title-text">
            Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
DE249558776
        </p>
        

        <h1 class="content-titles">Streitschlichtung</h1>
        <br>
        
        <p class="content-title-text">
            Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
        </p>
        

        <h1 class="content-titles">Zuständige Aufsichtsbehörde nach § 34 c GewO:</h1>
        <br>
        
        <p class="content-title-text">
            Stadt Köln
            <br>
            Amt für öffentliche Ordnung
            <br>
            Gewerbeangelegenheiten
            <br>
            Willy-Brandt-Platz 3
            <br>
            50673 Köln
        </p>
        

        <h1 class="content-titles">Haftung für Inhalte</h1>
        <br>
        
        <p class="content-title-text">
            Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
        </p>
        

        <h1 class="content-titles">Haftung für Links</h1>
        <br>
        
        <p class="content-title-text">
            Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
        </p>
        

        <h1 class="content-titles">Urheberrechts</h1>
        <br>
        
        <p class="content-title-text">
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
        </p>
        <br>

        
       



        
    </div>
    
    
    
    

{% endblock %}