<!DOCTYPE html>
{% extends "denkmalgeschutztelofts/base.html" %}
{% load static %}

{% block title %}Denkmalgeschützte Lofts als Kapitalanlage  | Ein Meisterwerk des modernen Lebens{% endblock %}

{% block body %}
    <div class="phone-call">
        <a href="tel:080016803398">
            <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Jetzt Anrufen" title="Jetzt Anrufen">
        </a>
    </div>
    <div class="bckgrnd-black">
        
        <div class="bnner-txt-gold">Projekte
        </div>
    </div>
    <br>
    
    
        <br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project1.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project2.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="center">
                        <div class="property-card">
                          <a href="#">
                            <div class="property-image" style="background-image:url('/static/denkmalgeschutztelofts/images/project3.jpg');">
                              <div class="property-image-title">
                                <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
                              </div>
                            </div></a>
                          <div class="property-description">
                            <h4> Card Title </h4>
                            <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
                            <button onclick="location.href='#'" type="button" class="projekt-btn">ANGEBOT ERHALTEN</button>
                          </div>
                          
                          <a href="#">
                            <div class="property-social-icons">
                            
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    

{% endblock %}