<!DOCTYPE html>
{% extends "denkmalgeschutztelofts/base.html" %}
{% load static %}

{% block title %}Denkmal Kapitalanlagen{% endblock %}

{% block body %}
    <div class="phone-call">
        <a href="tel:080016803398">
            <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Jetzt Anrufen" title="Jetzt Anrufen">
        </a>
    </div>
    <div class="bckgrnd-black" style="background-image:url('{% static "denkmalgeschutztelofts/images/53.png" %}')">
        
        <div class="bnner-txt-gold">Über Uns
        </div>
    </div>
    <br>
    
    <!-- <div class="container-x">
        <br><br><br><br>
        <h1 class="content-titles">Wie es funktioniert
        </h1>
        <br>
        
        <p class="content-title-text">
            Im folgenden erfahren Sie, welches innovative Konzept unsere Plattform denkmalgeschütztelofts.de befähigt, Ihnen sowohl Exklsivität als auch finanzielle Vorteile zu versprechen, wenn es um den Kauf von unter Denkmalschutz stehenden Lofts geht.  Statt weiterhin auf unzeitgemäße Strategien zu setzen, an denen sich überflüssige Zwischenvermittler auf Kosten der Käuferinnen und Käufer bereichern, ist es die Pflicht verantwortungsbewusster Kaufleute, neue Wege zu zeigen durch die die deutsche Immobilienwirtschaft den Anschluss an das digitale Zeitalter findet. 
            <br><br>
Via denkmalgeschütztelofts.de erhalten Sie exklusiven Zugang zu den begehrtesten 
denkmalgeschützten Loft-Projekten der Bundesrepublik Deutschland. Diese auf unserer Plattform präsentierten Projekte stammen direkt vom Bauträger und erfordern somit keine dritte Partei zwischen Bauträger und Käufer. Allein aufgrund dieser Tatsache bleiben Ihnen mögliche Provisionen an Makler bis zu 15 % erspart.
Mit Nachdruck betonen wir, dass die Nutzung unserer Plattform für Sie vollkommen kostenlos ist.<br><br>
<br><br>
<img src="{% static "denkmalgeschutztelofts/images/35.png" %}" class="img-fluid raw-image">
Im internationalen Vergleich befindet sich die deutsche Immobilienwirtschaft in einem rudimentären Zustand, dessen Ursachen sowohl in veralteten Methoden als auch in fehlenden Fachkompetenzen der für die digitalen Aktivitäten verantwortlichen Agenturen liegen. Marktteilnehmer wie Kapitalanlageberatungen geben Aktivitäten rund um ihre digitale Präsenz an Agenturen ab. Diesen überteuerten Agenturen fehlt es an immobilienspezifischer Fachkompetenz, was sie hindert, innovative Wege zu gehen. Stattdessen wird benchmarking betrieben.
Das Resultat sind beispielsweise teure Werbeanzeigen auf Google. Um potenzielle Käufer auf ihr Portfolio aufmerksam zu machen, generieren Mitglieder der deutschen Immobilienwirtschaft kaum eigenständige organische Leads. Dieses überflüssige Abhängigkeitsverhältnis führt zu hohen Ausgaben, die schlussendlich der Käufer trägt.
<br><br>
Selbst jeder Aussenstehende weiß es : <br>
In Deutschland herrscht eine hohe Nachfrage an Immobilien. Der Grund ist einerseits sowohl demografisch bedingt als auch abhängig von einigen weiteren Umständen. Der Mangel an Bauland und Objekten sowie das niedrige Zinsniveau gepaart mit einem Mangel an Anlagealternativen in unsicheren Zeiten führt zu einem Markt bei dem hohe Nachfrage auf relativ niedriges Angebot stößt.
Dass es es der deutschen Immobilienwirtschaft bis heute nicht gelungen ist, einen direkten Kontakt zu der hohen Nachfrage aufzubauen und stattdessen die meisten Käufer auf dritte Zwischenvermittler angewiesen sind, ist nicht nur bizarr sondern auch verantwortungslos.  
Mit unserer Plattform denkmalgeschütztelofts.de öffnen wir die Tür zum digitalen Zeitalter und minimieren die Entfernung zwischen Käufer und Verkäufer auf ein paar Klicks. Wer nicht mit der Zeit geht, geht mit der Zeit...
<br><br><br>

        </p>
        

        
       



        
    </div>
     -->
    
    
    

{% endblock %}