<!DOCTYPE html>
{% extends "denkmalgeschutztelofts/base.html" %}
{% load static %}

{% block title %}Denkmal Kapitalanlagen{% endblock %}

{% block body %}
    <div class="bckgrnd-creme sticky-nav-margin sticky-nav-margin-tablet">
        
        <div class="bnner-txt-gold">Virtual Tour
        </div>
    </div>
    <br>
    <div class="phone-call">
        <a href="tel:080016803398">
            <img src="https://image.flaticon.com/icons/png/512/131/131133.png" width="26" alt="Jetzt Anrufen" title="Jetzt Anrufen">
        </a>
    </div>
    <div class="">
        <div  data-aos="fade-right" style="margin-top: -27px;" >
              <iframe width="100%" height="450px"  frameborder="0" src="https://momento360.com/e/u/99e5898e9f324c57baaeda6e14245f3c?utm_campaign=embed&utm_source=other&heading=-288.51&pitch=-8.56&field-of-view=78.07&size=medium"></iframe>
          </div>

    </div>

        <div class="parallax background-white height-setting2" style="margin: 130px">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class=" chapter1 text-black" data-aos="fade-in" data-aos-delay="500" >Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:
                       <br> <span data-aos="fade-in" data-aos-delay="1000" style="color: #c9a877">I</span>  <br>
                            <span data-aos="fade-in" data-aos-delay="1500" >lofts als kapitalanlage</span>

                        </h2>
                    </div>
                </div>
            </div>
        </div>


    <div class="">
        <div  data-aos="fade-right" style="margin-top: -27px;" >
              <iframe width="100%" height="450px"  frameborder="0" src="https://momento360.com/e/u/99e5898e9f324c57baaeda6e14245f3c?utm_campaign=embed&utm_source=other&heading=-288.51&pitch=-8.56&field-of-view=78.07&size=medium"></iframe>
          </div>

    </div>

    <div class="parallax bckgrnd-white height-setting2" style="margin: 130px">
            <div class="container h-100 ">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class=" chapter1 text-black" data-aos="fade-in" data-aos-delay="500" >Damit Sie auch während der aktuellen COVID-19 Epidemie Zugang zu unserem exklusiven Immobilienangebot erhalten, bieten wir Ihnen ein umfassendes Online-Programm an:
                            </h2>




                    </div>
                </div>
            </div>
        </div>

    
    
    
    

{% endblock %}